:root {
    --green-color: #04aa6d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --sidebar-bg: #e7e9eb;
    --sidebar-hover: #cccccc;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 80%;
    line-height: 1rem;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}
