@{
    ViewData["Title"] = "Home Page";
}

<script>
    let listLesson = [];
    let listContent = []

    function renderSibar() {
        $(".sidebar-list").empty();
        listLesson.forEach(function (item, index) {
            $(".sidebar-list").append('<li class="sidebar-item"><a href="#" onclick="return getContent('+item.lessonId+')" class="sidebar-link">'+item.lessonName +'</a></li>');
        });
    }
    function getContent(id) {
        
        $.ajax({
                "async": true,
                "crossDomain": true,
                "url": "@Url.Action("RenderContents", "Home")?id="+id,
                "headers": {
                    "Content-Type": "application/json",
                    "cache-control": "no-cache"
                },
                "method": "GET"
        }).done(function (result) {
                renderContent(result,id);
                
            }).fail(function (xhr) {
                console.log("get contents failed");
            });
        return false;
    }
    function getListLesson() {
        $.ajax({
                "async": true,
                "crossDomain": true,
                "url": "@Url.Action("GetListLesson", "Lesson")",
                "headers": {
                    "Content-Type": "application/json",
                    "cache-control": "no-cache"
                },
                "method": "GET"
        }).done(function (result) {
                listLesson = result;
            renderSibar(); 
            getContent(listLesson[0].lessonId);
            }).fail(function (xhr) {
                console.log("get lesson list failed");
        });
    }
    function renderContent(data, id) {
        var lessonName = (listLesson.filter(x => x.lessonId == id))[0].lessonName;
        $(".content-title").text(lessonName);
        var target = $("#content-body");
        target.empty();
        data.forEach(function (item, index) {
            var title = item.contentTitle ? item.contentTitle : "";
            var html = '<div class="text-block">' +
                '<h2 class="text-title">' + title + '</h2>' + item.content + '</div>';
           
            target.append(html);
            
            if (item.content.indexOf("try-it-btn") != -1)
                target.last().find("a.try-it-btn").attr("href", "/Example/ExampleView?id=" + item.lessonContentId);
            if (target.html().length > 0) {
                if (index < data.length - 1)
                    target.append("<hr>");
            }
        })
    }
    $(function () {

        getListLesson();        
    })
</script>



